.paragraph--type--document .document-wrapper {
  margin-bottom: 20px;
}
.paragraph--type--document .field--name-field-icon {
  float: left;
  margin-right: 15px;
}
.paragraph--type--document .field--name-field-icon:after {
  clear: both;
}
.paragraph--type--document .field--name-field-file, .paragraph--type--document .field--name-field-pages {
  display: inline-block;
}