#feedback-form {
  @extend .container;
  background: $acas-teal-dark;
  color: $white;
  font-size: .85em;
  font-weight: $font-weight-bold;
  margin-top: 1.5em;
  position: relative;
  a {
    color: $white;
    border-radius: 5px;
    border: 1px solid white;
    display: inline-block;
    font-weight: $font-weight-normal;
    margin: 0 .25em;
    padding: 0 .5em;
    text-decoration: none;
    &:hover, &:focus {
      @extend .outline;
      outline-color: $acas-lime;
    }
  }
  .feedback-question-wrapper, .feedback-close-wrapper {
    float: left;
    padding-bottom: .25em;
    padding-top: .25em;
  }
  .feedback-question-wrapper {
    width: 75%;
  }
  .feedback-close-wrapper {
    cursor: pointer;
    display: none;
    text-align: right;
    width: 25%;
  }
  .feedback-buttons, .feedback-question {
    display: inline-block;
  }
  .feedback-question, a {
    font-size: 0.85em;
  }
  .feedback-question {
    font-family: $font-family-semibold;
  }
  .form {
    padding: 1em;
  }
}

#feedback-form-section, #feedback-form {
  overflow: hidden;
  form {
    background: $white;
    color: $black;
    clear: both;
    display: none;
    .form-submit {
      margin-top: 0;
    }
    textarea {
      height: 3.5em;
    }
    .help-block {
      font-size: .875em;
      color: $gray-dark;
    }
  }
  .control-label, .panel-title {
    font-size: 1em;
    color: $acas-teal;
    display: block;
    font-family: $font-family-semibold;
    margin-bottom: .5em;
  }
  .panel {
    margin: .5em;
  }
  .panel-heading {
    display: block;
  }
  .panel-body {
    .control-label {
      color: $black;
      font-family: $font-family-base;
      font-size: 1em;
    }
    .iradio_square-aero {
      margin-right: .25em;
    }
  }

  .form-type-email {
    display: none;
  }
}

.feedback-report {
  .views-exposed-form {
    clear: both;
    .control-label, .form-type-date {
      display: inline-block;
    }
  }
}

@include bp(SM) {
  #feedback-wrapper {
    position: relative;
  }
  #feedback-form {
    font-size: 1em;
    max-width: 100%;
    text-align: left;
    a {
      border: none;
    }
    form {
      background: $white;
      padding: 1em;
      color: $black;
      display: none;
      clear: both;
      .form-submit {
        margin-top: .5em;
      }
      textarea {
        height: unset;
      }
    }
  }
}
