#feedback-form {
  @extend .container;
  background: $acas-teal-dark;
  color: $white;
  font-size: .85em;
  font-weight: $font-weight-bold;
  margin-top: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  text-align: center;
  a {
    color: $white;
    border-radius: 5px;
    display: inline-block;
    font-weight: $font-weight-normal;
    margin: 0 .125em;
    padding: 0 .125em;
    text-decoration: none;
    &:hover, &:focus {
      @extend .outline;
      outline-color: $acas-lime;
    }
  }
  .text, a {
    font-size: 0.85em;
  }
  .text {
    float: left;
    font-family: $font-family-semibold;
    display: block;
    padding: 0.125em 0.25em;
  }
  form {
    background: $white;
    padding: 15px;
    color: $black;
    display: none;
    clear: both;
  }
  .left-wrapper {
    float: left;
  }
  .right-wrapper {
    float: right;
    cursor: pointer;
    display: none;
  }
  .panel-heading {
    display: block;
    .panel-title {
      font-size: 1.25em;
      color: $acas-teal;
      display: block;
      font-family: $font-family-semibold;
      margin-bottom: .5rem;
    }
  }
  .panel-body {
    .control-label {
      color: $black;
      font-weight: normal;
      font-size: 1em;
    }
  }
} 
.acas-feedback-form, .webform-submission-yes-feedback-form, .webform-submission-no-feedback-form {
  .form-type-email {
    display: none;
  }
}
.feedback-report {
  .views-exposed-form {
    clear: both;
    .control-label, .form-type-date {
      display: inline-block;
    }
  }
}

@include bp(SM) {
  #feedback-wrapper {
    position: relative;
  }
  #feedback-form {
    font-size: 1em;
    max-width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: left;
  }
}
